#main-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
    
    li {
        display: block;
        text-align: center;
        
        a {
            display: block;
            padding: 0.5rem 0.75rem;
            text-decoration: none;
            font-weight: 600;
            color: #600;
            background: #900;
            
            &:hover {
                background: #600;
                color: #900;
            }
            
            &:active {
                background: #900;
            }
        }
    }
    
    @media screen
    and (min-width: 376px)
    and (max-width: 1000px) {
        flex-direction: row;
        
        li {
            flex: 1 0 auto;
            display: inline-block;
            border-right: 1px solid #600;
        
            &:last-child {
                border-right: none;
            }
        }
    }

    @media screen and (min-width: 1000px) {
        width: 200px;
    }
}