#main-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
    
    li {
        display: inline-block;
        flex: 1 0 auto;
        text-align: center;
        border-right: 1px solid #600;

        &:last-child {
            border-right: none;
        }
        
        a {
            display: block;
            padding: 0.5rem 0.75rem;
            text-decoration: none;
            font-weight: 600;
            color: #600;
            background: #900;

            &:hover {
                background: #600;
                color: #900;
            }

            &:active {
                background: #900;
            }
        }

        @media screen and (min-width: 1000px) {
            display: block;
            width: 200px;
            border-right: none;
            text-align: left;
        }
    }

    @media screen and (min-width: 1000px) {
        flex-direction: column;
    }
}