#copy-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    header, footer {
        padding: 0.5rem 1rem;
        color: #000;
    }
    
    header {
        flex: 0 0 auto;
        background: white;
    }

    footer {
        flex: 0 0 auto;
        background: white;
    }

    main {
        flex: 1 0 auto;
        margin: o;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;

        // testing footer on long pages
        // height: 1000px;
        
        aside, section {
            display: inline-block;
            border: 1px dashed black;
            height: 100%;
        }
        
        aside {
            flex: 0 1 200px;
            width: 200px;
            background: yellow;
            transition: all 1s ease-out;
            // text-align: right;

            &.open {
                flex: 0 1 0;
            }

            button {
                margin: 10px;
                padding: 3px 7px 2px;
            }
        }
        
        section {
            flex: 1 0 auto;
            padding: 0.5rem 1rem;
            color: #000;
            background: orange;
        }
    }
}
