$bg-color: #900;

html, body, #root, #main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

html {
    background: $bg-color;
}

body {
    background: $bg-color;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Roboto, Arial, sans-serif;
    color: rgb(50, 220, 243);
    text-align: center;
}